---
import type { CollectionEntry } from 'astro:content'
import EasySelectField from './EasySelectField.astro'

interface Props {
  emoji: CollectionEntry<'emojis'>
}

const { emoji } = Astro.props as Props
---

<div class="card relative group bg-base-200 w-32 h-32">
  <img
    class="p-3 m-auto w-full h-full object-contain"
    src={emoji.data.source_url}
  />
  <div
    class="absolute inset-0 bg-base-100 bg-opacity-90 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col justify-center"
  >
    <EasySelectField
      value={`:${emoji.data.name}:`}
      tooltipText={`:${emoji.data.name}:\n(click to copy to clipboard)`}
    />
    <div><span class="font-bold">id:</span> <span>{emoji.data.id}</span></div>
    <div>
      <span class="font-bold">author:</span>
      <span>{emoji.data.author_id}</span>
    </div>
  </div>
</div>
